html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    margin: 20px auto;
    max-width: 1080px;
    display: flex;
    align-items: center;

}
.left-div {
    position: relative;
}
.right-div {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-content {
    max-width: 380px;
    margin-left: 250px;
}
.bg-mobile {
    display: none;
}

.back-img {
    position: absolute;
    bottom: 230px;
    left: 270px;
}

.logo-img {
    position: absolute;
    z-index: 100;
    top: 168px;
    left: 230px;
}
.card-number-display,
.card-holder-display,
.expiry-month-display,
.divider-display,
.expiry-year-display, .cvc-display {
    position: absolute;
}
.front-div {
    position: absolute;
    top: 150px;
    left: 210px;
}
.card-number-display {
    top: 145px;
    left: 63px;
    color: white;
    font-size: 24px;
}
.card-holder-display {
    top: 200px;
    left: 20px;
    color: white;
    text-transform: uppercase;
}
.expiry-month-display {
    top: 202px;
    right: 76px;
    color: white;
    font-size: 14px;
}
.expiry-year-display {
    top: 202px;
    left: 380px;
    color: white;
    font-size: 14px;
}
.divider-display {
    top: 200px;
    right: 68px;
    color: white;
}
.cvc-display {
    top: 390px;
    right: 0;
}
.flex {
    display: flex;
}

.column {
    flex-direction: column;
    margin-top: 14px;
}

#name {
    width: 100%;
}
#number {
    width: 100%;
}

#MM {
    width: 20%;
}
#YY {
    width: 20%;
}
#cvc {
    width: 52%;
}

.input-style {
    height: 33px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    outline: none;
    border: 1px solid grey;
    padding: 8px;
}

label {
    font-size: 12px;
}
.last-3-input input:nth-child(2) {
    margin-left: 10px;
    margin-right: 20px;
}

.flex label:nth-child(2) {
    margin-left: 60px;
}



.btn {
    width: 100%;
    height: 34px;
    border-radius: 8px;
    border: none;
    background-color: rgb(74, 24, 121);
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.name-error {
    font-size: 12px;
    margin-bottom: 14px;
    margin-top: -12px;
    color: red;
}

.number-error {
    font-size: 12px;
    margin-top: -9px;
    color: red;
}

#date-error {
    font-size: 12px;
    margin-top: -9px;
    color: red;
}

.thank-you {
    flex-direction: column;
    align-items: center;
    top: 306px;
    left: 65%;
    position: absolute;

}

.thank-you img {
    width: 20%;
}
.thank-you p:nth-child(2) {
    font-size: 30px;
    letter-spacing: 10px;
    margin-top: 20px;
}
.thank-you p:nth-child(3) {
    color: silver;
    margin-top: 20px;
}

.thank-you button {
    width: 270px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

@media (max-width: 990px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .front-div {
        left: 177px;
    }
    .left-div {
        width: 100%;
    }
    .bg-img {
        display: none;
    }
    .bg-mobile {
        display: block;
        width: 100%;
        height: 300px;
    }
    .card-content {
        margin-left: 0;
        margin-top: 120px;
    }
    .back-img {
        bottom: 49px;
        left: 223px;
    }
    .cvc-display {
        top: -30px;
        right: 10px;
    }
    .thank-you {
        top: 429px;
        left: 321px;
    }
}

@media (max-width: 740px) {
    .card-content {
        padding: 12px;
    }
    .front-div {
        top: 190px;
        left: 205px;

    }
    .front-img {
        width: 340px;
    }
    .card-number-display {
        top: 110px;
        left: 42px;
    }
    .card-holder-display {
        top: 152px;
    }
    .expiry-year-display {
        top: 152px;
    left: 275px;
    }
    .expiry-month-display {
        top: 152px;
    }
    .divider-display {
        top: 152px;
    }
    .logo-img {
        top: 200px;
        right: 520px;
    }
    .cvc-display {
        top: -40px;
        right: 20px;
    }
    .back-img {
        width: 340px;
    }

}

@media (max-width: 568px){
    .back-img {
        left: 62px;
    }
    .front-div {
        left: 18px;
    }
    .logo-img {
        left: 42px;
    }
    .thank-you {
        top: 432px;
        left: 134px;
    }
}
@media  (max-width: 375px) {
    .back-img {
        left: 14px;
    }
    .cvc-display {
        right: 44px;
    }
    .btn {
        height: 53px;
    }
    .thank-you {
        top: 400px;
        left: 50px;
    }
}
